@use "../abstracts/variables" as var;
@use "sass:math";

body {
  font-family: var.$font-family-base;
  font-weight: var.$font-weight-normal;
  line-height: var.$line-height-base;
  color: var.$text-color-base;
}

h1,
h2,
h3 {
  margin-bottom: math.div(var.$gutter-base, 2);
  font-weight: var.$font-weight-bold;
}
.btn {
  display: inline-block;
  background-color: transparent;
  border: none;
  text-decoration: none;
  cursor: pointer;
  color: white;
  &--primary {
    // style za download button
    border: 1px solid white;
  }
  &--secondary {
    // style za read more
    color: gray;
  }
}

.social-icon {
  border-radius: 50%;
  // width, height, padding...
  &--border {
    border: 1px solid white;
    // style ovde
  }

  &--background {
    background-color: gray;
    // style ovde
  }
}
