.header {
  display: flex;
  justify-content: space-between;
}

.nav__list {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav__link {
  text-decoration: none;
}

.active {
  text-decoration: line-through;
}
