header {
  padding: 1rem 1.5rem;
  position: relative;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
}
.logo {
  font-size: 2rem;
}
nav {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.nav-link {
  color: black;
  padding: 5px 15px;
  font-size: 1.2rem;
  position: relative;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  border-radius: 5px;
  background-color: aliceblue;
}
.nav-link span {
  position: relative;
  z-index: 10;
}
.nav-link:hover {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  color: black;
}

.nav-link.active {
  display: block;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  color: white;
}

.nav-link::after {
  content: "";
  position: absolute;
  margin: auto;
  border-radius: 5px;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  transition: all 0.7s ease;
  height: 100%;
  background-color: #7096d1;
  scale: 0 1;
}

.nav-link:has(+ .nav-link.active)::after {
  translate: 101%;
}

.nav-link.active + .nav-link::after {
  translate: -100%;
}

.active.nav-link::after {
  translate: 0;
  scale: 1;
}
