.Expenses {
  min-height: 100svh;
  background: #ddd0c8;
  display: grid;
  justify-content: center;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 100px 20px;
}

.expense-table table,
tr,
td,
th {
  border: 1px solid black;
  border-collapse: collapse;
}

.expense-table td,
th {
  padding: 5px 10px;
}
