:root.light-mode {
  --color-primary: rgb(238, 238, 238);
  --color-secondary: #e4e6eb;
  --color-tertiary: #8899a6;
  --shadow-primary: rgb(136, 153, 166, 0.3);
  --shadow-hover: rgb(136, 153, 166, 0.5);
  --background: #f8f9fa;
  --color: #18191a;
  --button-background: #4dab9a;
  --icon-color: #15202b;
}

:root.dark-mode {
  --color-primary: #15202b;
  --color-secondary: #192734;
  --color-tertiary: #8899a6;
  --shadow-primary: rgb(136, 153, 166, 0.3);
  --shadow-hover: rgb(136, 153, 166, 0.5);
  --background: #121212;
  --button-background: #4dab9a;
  --color: #f1f1ef;
  --icon-color: #ffdc49;
}
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100svh;
  font-family: system-ui;
  background-color: var(--color-primary);
  color: var(--color);
}
main {
  padding: 2% 5%;
}

img {
  display: block;
  max-width: 100%;
}
a {
  color: var(--color);
  text-decoration: none;
}

/* TYPOGRAPHY */
h1,
h2,
h3 {
  padding-top: 0px;
  text-wrap: balance;
}
h1 {
  font-size: clamp(36px, 7vw, 26px);
}

h2 {
  font-size: clamp(28px, 7vw, 24px);
}
